 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O školi</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
Dobrodošli na stranicu Ritam Percussion škole bubnjeva!
Profesionalno opremljen studio pruža polaznicima najbolje moguće uvijete da nauče svirati bubnjeve.
                </div>
                <div class="col-lg-4">
                    <p>
Ritam Percussion je škola koja pruža kvalitetno učenje, vježbanje, sviranje, audio/video snimanje i poduku svim generacijama.
Ritam percussion školu vodi akademski glazbenik, pedagog, profesionalni bubnjar Abel Kovačević.</p>
 </p>
                </div>
<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
-->
            </div>
        </div>
    </section>
